#about {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}

#about .name {
	font-size: 2rem;
	margin-bottom: 5px;
	font-weight: bold;
}

#about .title {
	font-size: 1rem;
	margin-top: 5px;
}

#about > p {
	max-width: 60%;
}

#about .linkcv {
	font-weight: normal;
    font-size: 1rem;
    line-height: 1rem;
    background-color: #00897B;
    border-radius: 5px;
    display: flex;
    align-items: center;
	padding: 15px;
	width: 17%;
	text-align: center;
	transition: all 0.2s;
}

#about .linkcv p {
	margin-top: 0;
	margin-bottom: 0;
	width: 100%;
}

#about .linkcv:hover {
	background-color: #26A69A;
}