#education {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}

.education-instance {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 1%;
}

/* .education-instance:nth-child(even) {
	justify-content: end;
} */

/* .education-instance:nth-child(even) img {
	margin-left: 5%;
}
*/
.education-instance img {
	margin-right: 5%;
}

.education-instance img {
	border-radius: 50%;
	border: solid grey 3px;
	width: 7%;
}

.education-instance div {
	max-width: 75%;
}

.education-instance a {
	color: lightblue;
}