#footer {
	background-color: black;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin-top: 50px;
}

#footer a {
	margin: 15px 10px;
	display: inline-block;
}

#footer i {
	/* border: solid thin red; */
	border-radius: 100%;
	height: 40px;
	width: 40px;
	line-height: 40px;
	padding: 15px;
	background-color: grey;
}

#footer span {
	font-size: 0.75rem;
}