body, html {
	background-color: #263238;
	margin: 0;
	display: flex;
	flex-direction: column;
}

* {
	color: white;
	font-family: 'Raleway', sans-serif;
}

h2 {
	width: 70%;
	display: flex;
	margin-left: auto;
	margin-right: auto;
	font-weight: bold;
	font-size: 3rem;
}

.no-select {
	-webkit-touch-callout: none;
    -webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

ul {
	margin: 0;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

#top_navbar {
	background-color: black;
}

#top_navbar .nav-wrapper, #top_navbar .nav-wrapper ul  {
	display: flex;
	flex-direction: row;
	align-items: center;
}

#top_navbar .nav-wrapper {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

#top_navbar .nav-wrapper ul {
	justify-content: flex-end;
	width: 100%;
}

#top_navbar li {
	border: solid white 2px;
	margin: 10px;
	width: 100px;
	height: 40px;
	padding: 0px 10px;
}

#top_navbar li > a {
	display: block;
	height: 100%;
	line-height: 40px;
	text-align: center;
	transition: 0.15s;
}