.modal {
 	position: fixed;
 	z-index: 1;
 	left: 0;
 	top: 0;
 	width: 100%;
 	height: 100%;
 	overflow: auto;
 	background-color: rgb(0, 0, 0);
 	background-color: rgba(0, 0, 0, 0.5);
 	display: flex;
}

.modal-content {
 	transition: 0.2s;
 	margin: 5% auto;
 	padding: 0 3%;
 	border: thin solid #888;
	 width: 80%;
	 background-color: #455A64;
 	transform: scale(0.0);
 	-webkit-transform: scale(0.0);
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	overflow-y: scroll;
}

.modal-content code {
	font-family: 'Courier New', Courier, monospace;
	display: block;
	white-space: pre-wrap;
}

.modal-opened {
 	transform: scale(1.0);
 	-webkit-transform: scale(1.0);
}

.modal-closed {
	transform: scale(0.0);
 	-webkit-transform: scale(0.0);
}

.modal-opened .modal-content {
 	transform: scale(1.0);
 	-webkit-transform: scale(1.0);
}

.modal-closed .modal-content {
	transform: scale(0.0);
 	-webkit-transform: scale(0.0);
}

#closeModal {
 	color: #aaa;
 	float: right;
 	font-size: 28px;
 	font-weight: bold;
}

#closeModal:hover, #closeModal:focus {
 	color: black;
 	text-decoration: none;
 	cursor: pointer;
}



.modal-content h3 {
	font-size: 2rem;
	margin-bottom: 0;
	display: flex;
}


.modal-content > p:first-of-type {
	font-style: italic;
}

.modal-content ul {
	line-height: 2rem;
}

.modal-content img {
	display: block;
	margin: 1% auto;
	width: 45%;
}

.modal-content iframe {
	display: block;
	margin: 1% auto;
	width: 45%;
	height: 50%;
	border: none;
}

.modal-content a {
	text-align: center;
	font-weight: bold;
	font-size: 1.2rem;
	text-align: center;
	color: #92a2ff;
}

.modal-content a.source-code {
	font-weight: normal;
	font-size: 1rem;
	line-height: 1rem;
	text-align: left;
	margin-left: 2rem;
	background-color: #00897B;
	border-radius: 5px;
	display: flex;
	align-items: center;
	padding: 0px 10px;
}

.modal-content a.source-code i {
	font-size: 1.5rem;
	line-height: 1.5rem;
	vertical-align: middle;
}
.modal-content a.source-code i span {
	font-size: 1rem;
	vertical-align: middle;
}

.modal-content a.source-code:hover {
	background-color: #4DB6AC;
}
