#projects, #personnal-projects {
	display: flex;
	flex-direction: row;
	justify-content: center;

	margin-left: auto;
	margin-right: auto;
	width: 60%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.category-title {
	display: flex;
	flex-direction: row;
	margin: 0px auto 3px auto;
	width: 60%;
}

#projects-categories, #projects-technos {
	margin-bottom: 10px;
}

#projects-categories {
	display: flex;
	flex-direction: row;
	margin-left: auto;
	margin-right: auto;
	width: 60%;
	flex-wrap: wrap;
}

.project-category {
	border: solid thin #424242;
	color: #424242;
	border-radius: 5%;
	padding: 5px 10px 5px 10px;
	cursor: pointer;
	margin-right: 2%;
	margin-bottom: 10px;
}

.project-category:hover {
	color: white;
	border: solid thin gray;
}

.project-category.category-selected {
	background-color: #00897B;
	border: solid thin gray;
	color: white;
}

#projects-technos {
	display: flex;
	flex-direction: row;
	margin: 0px auto 10px auto;
	width: 60%;
	flex-wrap: wrap;
}

.project-techno {
	border: solid thin #424242;
	color: #424242;
	border-radius: 5%;
	padding: 5px 10px 5px 10px;
	cursor: pointer;
	margin-right: 2%;
	white-space: nowrap;
	margin-bottom: 10px;
}

.project-techno:hover {
	color: white;
	border: solid thin gray;
}

.project-techno.category-selected {
	background-color: #00897B;
	border: solid thin gray;
	color: white;
}

.project {
	border-top: white solid 4px;
	border-bottom: white solid 4px;

	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

	width: 225px;
	height: 225px;
	margin: 20px;
	padding: 10px;
	position: relative;

	overflow: hidden;

	z-index: 0;

	cursor: pointer;


	user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	-webkit-touch-callout: none;
	-o-user-select: none;
	-moz-user-select: none;
}

.project .image {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	overflow: hidden;
	transition: all 0.3s cubic-bezier(0.86, 0, 0.07, 1);
	opacity: 0.8;
	z-index: -1;
	width: 100%;
}

.project img {
	height: 100%;
	min-width: 100%;
	filter: grayscale(0);
}

.project-title {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 100%;
	z-index: 1;
	background: transparent;
	font-size: 2rem;
	font-weight: bold;
	transition: all 0.3s cubic-bezier(0.86, 0, 0.07, 1);
	margin-top: -150%;
}

.project .description {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 0%;
	z-index: 1;
	background: transparent;
	font-weight: bold;
	transition: all 0.3s cubic-bezier(0.86, 0, 0.07, 1);
	margin-top: 100%;
}

.project .date {
	display: flex;
	text-align: left;
	height: 0%;
	z-index: 1;
	transition: all 0.3s cubic-bezier(0.86, 0, 0.07, 1);
	margin-top: 150%;
	color: rgb(214, 214, 214);
}

.project .languages {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	z-index: 1;
	font-size: 1rem;
	position: absolute;
	bottom: 2px;
	left: 5px;
	background: transparent;
}

.project .languages span {
	background: #00695C;
	border-radius: 10px;
	padding: 5px;
	min-width: 30px;
	margin: 2px;
}

.project:hover {
	height: 225px;
}

.project:hover .image {
	opacity: 0.3;
	filter: grayscale(0.5);
}

.project:hover .project-title {
	margin-top: -20%;
}

.project:hover .date {
	margin-top: -5%;
}

.project:hover .description {
	margin-top: -10%;
}

.project:hover .ur-ul-border::before, .project:hover .ur-ul-border::after {
	height: 25%;
}

.project:hover .lr-ll-border::before, .project:hover .lr-ll-border::after {
	height: 25%;
}

.ur-ul-border::before {
	content: "";
	position: absolute;
	border: white solid 2px;
	height: 50%;
	top: 0;
	left: 0;
	transition: all 0.3s cubic-bezier(0.86, 0, 0.07, 1);
}

.ur-ul-border::after {
	content: "";
	position: absolute;
	border: white solid 2px;
	height: 50%;
	top: 0;
	right: 0;
	transition: all 0.3s cubic-bezier(0.86, 0, 0.07, 1);
}

.lr-ll-border::before {
	content: "";
	position: absolute;
	border: white solid 2px;
	height: 50%;
	bottom: 0;
	left: 0;
	transition: all 0.3s cubic-bezier(0.86, 0, 0.07, 1);
}

.lr-ll-border::after {
	content: "";
	position: absolute;
	border: white solid 2px;
	height: 50%;
	bottom: 0;
	right: 0;
	transition: all 0.3s cubic-bezier(0.86, 0, 0.07, 1);
}
