#workexperience {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}

.workexperience-instance {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 1%;
}

.workexperience-instance img {
	margin-right: 5%;
}


.workexperience-instance img {
	border-radius: 50%;
	border: solid grey 3px;
	width: 7%;
}

.workexperience-instance div {
	max-width: 75%;
}
