<h3>42 Jam
	<a class="source-code" target="_blank" rel="noopener noreferrer" href="https://gitlab.com/TheoG/42jam-01">
		<i class="fab fa-git-alt">
			<span>Code Source</span>
		</i>
	</a>
</h3>
<p>Game Jam à l'initiative d'étudiants 42</p>

<a target="_blank" rel="noopener noreferrer" href="https://itch.io/jam/42-jam">Lien vers la page principale</a>
<p>Organisée par Blaise Van Dyck, Cyrille Frouin et moi-même, cette game jam a regroupé des étudiants de 42 Paris, 42 Silicon Valley et quelques curieux venus d'ailleurs.</p>
<p>Au total, nous étions 80 jamers pour 26 entrées soumises.</p>

<a target="_blank" rel="noopener noreferrer" href="https://cyrillefrouin.itch.io/chernobyl-conspiracy">Lien vers notre entrée (en binôme avec Cyrille Frouin)</a>