<h3>42Run
	<a class="source-code" target="_blank" rel="noopener noreferrer" href="https://gitlab.com/TheoG/42run">
		<i class="fab fa-git-alt">
			<span>Code Source</span>
		</i>
	</a>
</h3>
<p>Mini jeu inspiré de "Temple Run"</p>

<p>Fonctionnalités :</p>
<ul>
	<li>- Génération de terrain infini</li>
	<li>- Difficulté croissante</li>
	<li>- Divers obstacles</li>
	<li>- Pièces et vies à récupérer sur le trajet</li>
	<li>- Score et chronomètre</li>
</ul>

<img src="/images/projects/42run/1.gif" alt="">
<img src="/images/projects/42run/0.gif" alt="">