<h3>Cloud-1</h3>
<p>Initiation à AWS</p>

<p>L'objectif de ce projet est de prendre en main les différents outils d'Amazon Web Services.</p>
<p>Pour ce faire, plusieurs problématiques sont abordées, centrées autour d'un objectif principal : la mise en place d'un site web utilisant WordPress.</p>
<p>Nous devons réaliser un certain nombre de tâches :</p>
<ul>
	<li>- Un WordPress simple, fonctionnant sur deux instances AWS (avec un mécanisme de connexion à un compte admin)</li>
	<li>- Un répartiteur de charge qui balance automatiquement un utilisateur sur l'une des deux instances (une fois connecté, il conservera la même)</li>
	<li>- Un mécanisme d'auto-scaling en cas de pic de fréquentation, qui va dans ce cas démarrer une nouvelle machine, récupérer le code source sous GitHub et ajouter l'instance au répartiteur de charge</li>
	<li>- Un CDN permettant le maintien de ressources statiques</li>
	<li>- Une gestion des droits sur le site (admin ou visiteur)</li>
</ul>