<h3>DSLR - DataScience, Logistic Regression
	<a class="source-code" target="_blank" rel="noopener noreferrer" href="https://gitlab.com/TheoG/dslr">
		<i class="fab fa-git-alt">
			<span>Code Source</span>
		</i>
	</a>
</h3>
<p>Algorithme de régression logistique simple</p>

<p>Entrainement du Choixpeau magique d'Harry Potter à partir d'un jeu de données afin de déterminer la future maison d'un étudiant de Poudlard.</p>

<p>Implémentation d'un multiclassifieur de régression logistique de type "one vs all"</p>