<h3>Expert System
	<a class="source-code" target="_blank" rel="noopener noreferrer" href="https://github.com/JanWalsh91/expert_system">
		<i class="fab fa-git-alt">
			<span>Code Source</span>
		</i>
	</a>
</h3>
<p>Moteur d'inférence</p>

<p>"Backward-chaining inference engine" permettant de résoudre des faits à partir de règles</p>

<a target="_blank" rel="noopener noreferrer" href="https://expertsystem.theogros.com">Lien vers le programme en ligne</a>

<p>Exemple :</p>

<code>
	A => B		# A implique B (Si A, alors B)
	A + B => C	# Si A et B alors C
	C | D => E	# Si C ou D alors E

	=A		# A est vrai
	?B		# Que vaut B ?
</code>

<p>Opérations disponibles :</p>
<ul>
	<li>+ : AND</li>
	<li>| : OR</li>
	<li>^ : XOR</li>
	<li>! : NOT</li>
	<li>( et ) : Priorité</li>
	<li><=> : Si Et Seulement Si</li>
</ul>