<h3>FDF (Fil De Fer)
	<a class="source-code" target="_blank" rel="noopener noreferrer" href="https://gitlab.com/TheoG/fdf">
		<i class="fab fa-git-alt">
			<span>Code Source</span>
		</i>
	</a>
</h3>
<p>Initiation à l'infographie</p>

<p>Cet exercice propose la découverte de la programmation graphique avec affichage de fenêtre, récupération puis traitement des évènements claviers et souris.</p>

<p>L'application reçoit en entrée un fichier composé de chiffres représentant les coordonnées 3D de chaque point :</p>

<img src="/images/projects/fdf/fdf2.png" alt="">
<p>Puis affiche le résultat sous forme de carte d'élévation : </p>
<img src="/images/projects/fdf/fdf3.png" alt="">
<img src="/images/projects/fdf/fdf4.png" alt="">
<img src="/images/projects/fdf/fdf5.png" alt="">
<img src="/images/projects/fdf/fdf6.gif" alt="">
