<h3>Fractol
	<a class="source-code" target="_blank" rel="noopener noreferrer" href="https://gitlab.com/TheoG/fractol/">
		<i class="fab fa-git-alt">
			<span>Code Source</span>
		</i>
	</a>
</h3>
<p>Programme d'exploration de fractales</p>

<p>Implémentation en C des opérations mathématiques permettant l'affichage de diverses fractales.</p>
<p>Quelques exemples :</p>
<img src="/images/projects/fractol/fractol2.png" alt="">
<img src="/images/projects/fractol/fractol3.png" alt="">
<img src="/images/projects/fractol/fractol4.png" alt="">
<img src="/images/projects/fractol/fractol5.png" alt="">
<img src="/images/projects/fractol/fractol6.png" alt="">