<h3>ft_hangouts
	<a class="source-code" target="_blank" rel="noopener noreferrer" href="https://gitlab.com/TheoG/ft_hangout">
		<i class="fab fa-git-alt">
			<span>Code Source</span>
		</i>
	</a>
</h3>
<p>Application Android de gestion de contacts et de messagerie</p>

<p>Création de contact :</p>
<img src="/images/projects/ft_hangouts/contact.png" alt="">

<p>Liste des contacts</p>
<img style="width: 20%" src="/images/projects/ft_hangouts/contacts.jpg" alt="">

<p>Conversation</p>
<img style="width: 20%" src="/images/projects/ft_hangouts/messages.jpg" alt="">

<p>Personnalisation du thème</p>
<img style="width: 20%" src="/images/projects/ft_hangouts/settings.jpg" alt="">
