<h3>ft_ssl_md5
	<a class="source-code" target="_blank" rel="noopener noreferrer" href="https://gitlab.com/TheoG/ft_ssl_md5">
		<i class="fab fa-git-alt">
			<span>Code Source</span>
		</i>
	</a>
</h3>
<p>Initiation aux algorithmes de hashage</p>

<p>Ce projet de sécurité consiste en la reproduction fidèle des algorithmes de hashages les plus connus.</p>
<p>Algorithmes implémentés :</p>
<ul>
	<li>- md5</li>
	<li>- sha256</li>
	<li>- sha384</li>
	<li>- sha512</li>
	<li>- whirlpool</li>
</ul>

<p>L'exécutable peut lire depuis l'entrée standard, depuis un fichier passé en paramètre ou bien lire une string donnée en argument</p>

<img style="width: 80%" src="/images/projects/ft_ssl_md5/ssl1.png" alt="">