<h3>ft_vox
	<a class="source-code" target="_blank" rel="noopener noreferrer" href="https://github.com/amasson42/GLSScene/">
		<i class="fab fa-git-alt">
			<span>Code Source</span>
		</i>
	</a>
</h3>
<p>Générateur de monde en voxel</p>

<p>Le rendu est effectué avec OpenGL et la génération de monde est parallélisée sur GPU avec OpenCL</p>

<p>Vidéo de présentation : </p>
<iframe allowfullscreen="true" src="https://www.youtube.com/embed/7uBD6yvGVcc?modestbranding=1&fs=1&rel=0"></iframe>

<p>Des informations sur le joueur et son environnement sont sauvegardées (ainsi que le monde en lui même) :</p>
<code>{
	"player": {
		"fov": 85,
		"pickedBlock": 6,
		"position": [
			919.5756225585938,
			157.28773498535156,
			10119.45703125
		],
		"rotation": [
			-0.24987059831619263,
			0.1457117795944214
		],
		"speed": 0.625
	},
	"settings": {
		"castShadow": true,
		"generator": "default.cl",
		"meshmerizeEffect": 0.0,
		"renderDistance": 111.53846740722656,
		"seed": 1506185271
	},
	"worldName": "Portfolio world"
}</code>
