<h3>Gomoku
	<a class="source-code" target="_blank" rel="noopener noreferrer" href="https://github.com/JanWalsh91/Gomoku">
		<i class="fab fa-git-alt">
			<span>Code Source</span>
		</i>
	</a>
</h3>
<p>Implémentation de l'algorithme MinMax au travers du jeu Gomoku</p>

<p>Fonctionnalités :</p>
<ul>
	<li>- Jouer contre l'ordinateur grâce à l'algorithme MinMax</li>
	<li>- Jouer contre un autre humain</li>
	<li>- Changer la profondeur de recherche de MinMax</li>
	<li>- Victoire si 5 pierres ou plus alignées ou si 5 captures</li>
	<li>- Règles complémentaires :</li>
	<ul>
		<li>- Captures : Si un joueur arrive à entourer deux pierres ennemies, il les capture et les retire du plateau</li>
		<li>- Double Free Three : Il est impossible de placer une pierre à une position menant à un double free three (trois pierres alignées sans obstacle de part et d'autre)</li>
		<li>- Game Ending Capture : Le joueur ne gagne pas la partie s'il aligne 5 pierres mais qu'une capture par l'ennemi est possible sur l'une d'entre elles</li>
	</ul>
</ul>

<img src="/images/projects/gomoku/logo.png" alt="">