<h3>HumanGL
	<a class="source-code" target="_blank" rel="noopener noreferrer" href="https://github.com/JanWalsh91/human_gl">
		<i class="fab fa-git-alt">
			<span>Code Source</span>
		</i>
	</a>
</h3>
<p>Implémentation d'une stack matricielle et animation de squelette</p>

<p>Chaque partie du corps est constituée d'un cube de 1x1x1 modifié par un ensemble d'opérations matricielles (translation, rotation, échelle).</p>
<p>Les animations sont réalisées par interpolation entre états clef, définis au préalable.</p>

<p>Exemples d'animations</p>
<img src="/images/projects/humangl/HumanGL-walk.gif" alt="">
<img src="/images/projects/humangl/HumanGL-wave.gif" alt="">

<p>Modification du scale au runtime</p>
<img src="/images/projects/humangl/HumanGL-scale.gif" alt="">
