<h3>HumanGL</h3>
<p>ENGLISH</p>

{{!-- <p>Chaque partie du corps est constituée d'un cube de 1x1x1 modifié par un ensemble d'opérations matricielles (translation, rotation, échelle.</p>
<p>Les animations sont réalisées par interpolation entre états clefs, définis au préalable.</p> --}}

<p>Animation examples</p>
<img src="/images/projects/humangl/HumanGL-walk.gif" alt="">
<img src="/images/projects/humangl/HumanGL-wave.gif" alt="">

<p>Scale modification at runtime</p>
<img src="/images/projects/humangl/HumanGL-scale.gif" alt="">