<h3>In The Shadows
	<a class="source-code" target="_blank" rel="noopener noreferrer" href="https://gitlab.com/TheoG/intheshadows/">
		<i class="fab fa-git-alt">
			<span>Code Source</span>
		</i>
	</a>
</h3>
<p>Jeu Unity inspiré de Shadowmatic</p>

<p>Vidéo de présentation :</p>
<iframe allowfullscreen="true" src="https://www.youtube.com/embed/k5VcuI957bw?modestbranding=1&fs=1&rel=0"></iframe>
