<h3>Ludum Dare #45
	{{!-- <a class="source-code" target="_blank" rel="noopener noreferrer" href="https://gitlab.com/TheoG/LudumDare43">
		<i class="fab fa-git-alt">
			<span>Code Source</span>
		</i>
	</a> --}}
</h3>
<p>Thème : "Start with nothing"</p>

<p>Game Jam de 72h en solo.</p>
<p>Puzzle Game en voxel.</p>
<a target="_blank" rel="noopener noreferrer" href="https://ldjam.com/events/ludum-dare/45/pimp-my-voxel">Lien vers l'entrée</a>

<img src="/images/projects/ldjam45/img1.gif" alt="">
<img src="/images/projects/ldjam45/img2.png" alt="">
