<h3>Ludum Dare #43
	<a class="source-code" target="_blank" rel="noopener noreferrer" href="https://gitlab.com/TheoG/LudumDare43">
		<i class="fab fa-git-alt">
			<span>Code Source</span>
		</i>
	</a>
</h3>
<p>Thème : "Sacrifices must be made"</p>

<p>Game Jam de 72h en trio avec Cyrille Frouin et Jan Walsh.</p>

<a target="_blank" rel="noopener noreferrer" href="https://theogros.itch.io/ranch-of-the-gods">Lien vers notre entrée</a>
<p>(Il est recommandé de télécharger la version Desktop)</p>