<h3>Linear Regression
	<a class="source-code" target="_blank" rel="noopener noreferrer" href="https://gitlab.com/TheoG/linear_regression">
		<i class="fab fa-git-alt">
			<span>Code Source</span>
		</i>
	</a>
</h3>
<p>Algorithme de régression linéaire simple</p>

<p>Entrainement d'un programme estimant la valeur d'un véhicule d'occasion à partir d'un jeu de données.</p>