<h3>Music Room
	<a class="source-code" target="_blank" rel="noopener noreferrer" href="https://gitlab.com/TheoG/music-room">
		<i class="fab fa-git-alt">
			<span>Code Source</span>
		</i>
	</a>
</h3>

<p>Application sociale de gestion d'évènements musicaux en partenariat avec Deezer</p>

<p>Ce projet est probablement le plus gros de mon cursus à 42. Il consiste en la mise en place d'une API Rest ainsi que d'une application mobile qui utilise cette dernière.</p>
<p>Nous devions utiliser le SDK de Deezer afin d'offrir la possibilité de créer des playlists, les éditer à plusieurs en temps réel, ainsi que créer des "évènements", des rooms diffusants de la musique, le tout synchronisé via notre API</p>
<p>Les fonctionnalités à développer étaient nombreuses.</p>

<h4>Aspect social</h4>
<p>Création de compte et aspect social. Ajouter des amis, accepter les invitations, les refuser, avec une gestion de la visibilité des informations personnelles (Public, Private, Friends)</p>
<img style="width: 60%" src="/images/projects/musicroom/1.png" alt="">

<h4>Playlists</h4>
<p>Un utilisateur peut créer une playlist et y ajouter des chansons grâce à une barre de recherche (interrogation de l'API de Deezer). Il dispose également de la possibilité d'ajouter des contributeurs, des "guests" n'ayant pas de droits de modification, et des éditeurs, qui pourront ajouter ou supprimer des morceaux</p>
<p>Il existe deux types de playlists, qui déterminent leur ordre de lecture lorsque placées dans un event (voir en dessous).</p>
<ul>
	<li>- Like : Quand un morceau est "like", il remonte dans la file d'attente (à l'inverse, il descend quand il est "dislike")</li>
	<li>- Move : Tous les utilisateurs peuvent changer l'ordre de la file d'attente comme bon leur semble</li>
</ul>
<img style="width: 60%" src="/images/projects/musicroom/2.png" alt="">

<h4>Events</h4>
<p>Enfin, il peut créer un "event". Celui-ci est composé de plusieurs playlists (l'utilisateur peut également rechercher des playlists publiques crées par d'autres personnes)</p>
<p>Le créateur peut également décider d'une heure automatique de début et de fin pour le vote et l'évènement</p>
<p>Il peut inviter des guests, qui pourront voter et voir l'avancé de l'évènement, le morceau courant, etc.</p>
<p>Des DJs peuvent être ajoutés. Ils disposent des mêmes droits que le créateur de l'évènement, à savoir changer de morceau à la volée, changer de playlist, faire play, pause, next, previous, etc...</p>
<img style="width: 60%" src="/images/projects/musicroom/3.png" alt="">

<h4>Système de vote</h4>
<p>De gauche à droite :</p>
<p>Système de vote "Like", système "Move", système "Move" vu par un Guest</p>
<img style="width: 60%" src="/images/projects/musicroom/4.png" alt="">


