<h3>N-Puzzle
	<a class="source-code" target="_blank" rel="noopener noreferrer" href="https://github.com/JanWalsh91/n-puzzle">
		<i class="fab fa-git-alt">
			<span>Code Source</span>
		</i>
	</a>
</h3>
<p>Solveur de jeu de taquin de taille variable</p>

<p>Le client est un jeu de taquin réalisé avec Unity.</p>
<p>Un algorithme de résolution A* implémenté en C# permet de trouver la solution optimale (en le moins de coups).</p>
<p>Ce dernier tourne sur un serveur que le client peut interroger.</p>

<p>Vidéo de présentation :</p>
<iframe allowfullscreen="true" src="https://www.youtube.com/embed/uDbP4Ef_asQ?modestbranding=1&fs=1&rel=0"></iframe>

