<h3>Nibbler
	<a class="source-code" target="_blank" rel="noopener noreferrer" href="https://gitlab.com/TheoG/nibbler">
		<i class="fab fa-git-alt">
			<span>Code Source</span>
		</i>
	</a>
</h3>
<p>Introduction aux librairies dynamiques</p>

<p>Ce programme sépare distinctement la logique du jeu de l'affichage. Trois interfaces graphiques permettent d'afficher le jeu, et sont chargées au runtime sous forme de librairies dynamiques. Lors d'une partie, il est possible de passer d'une interface à une autre.</p>

<p>Fonctionnalités :</p>
<ul>
	<li>- GUI avec SFML</li>
	<li>- GUI avec SDL</li>
	<li>- GUI avec NCurses</li>
	<li>- Multijoueur local</li>
	<li>- Multijoueur réseau</li>
	<li>- Changement de librairie d'affichage au runtime</li>
</ul>

<p>Solo (SFML)</p>
<img src="/images/projects/nibbler/solo.png" alt="">
<p>Multijoueur (SFML)</p>
<img src="/images/projects/nibbler/multiplayer.png" alt="">
<p>Multijoueur (SDL)</p>
<img src="/images/projects/nibbler/sdl.png" alt="">
<p>Multijoueur (NCurses)</p>
<img src="/images/projects/nibbler/ncurses.png" alt="">
<p>Fin de partie</p>
<img src="/images/projects/nibbler/lose.png" alt="">
