<h3>Particle System
	<a class="source-code" target="_blank" rel="noopener noreferrer" href="https://gitlab.com/TheoG/ParticleSystem">
		<i class="fab fa-git-alt">
			<span>Code Source</span>
		</i>
	</a>
</h3>
<p>Intéropérabilité OpenGL - OpenCL</p>

<p>Parallélisation massive de calcul sur GPU afin de faire graviter des millions de particules autour du curseur de la souris</p>

<p>Vidéo de présentation : </p>
<iframe allowfullscreen="true" src="https://www.youtube.com/embed/qNx9_mOrk2g?modestbranding=1&fs=1&rel=0"></iframe>