<h3>Piscine Unity
	<a class="source-code" target="_blank" rel="noopener noreferrer" href="https://gitlab.com/TheoG/piscine-unity">
		<i class="fab fa-git-alt">
			<span>Code Source</span>
		</i>
	</a>
</h3>

<p>Deux semaines intensives d'initiation à Unity. Chaque jour aborde un thème différent et se compose de multitudes d'exercices</p>

<p>D00 - Bases 2D, Mini jeux dont un FlappyBird-like</p>
<img style="width: 10%; margin-left: 5%;" src="/images/projects/piscineunity/flappy.png" alt="">
<p>D01 - Physique 2D, jeu inspiré de Thomas Was Alone</p>
<a class="play-online" target="_blank" rel="noopener noreferrer" href="https://thomaswasalone.theogros.com">Jouer en ligne avec WebGL</a>
<p>Contrôles :</p>
<ul>
	<li>R pour Restart</li>
	<li>Flèches pour se déplacer</li>
	<li>1, 2, 3 pour changer de personnage</li>
</ul>
<img style="width: 40%; margin-left: 5%;" src="/images/projects/piscineunity/thomas.png" alt="">
<p>D02 - Animations 2D, jeu basé sur Warcraft</p>
<img style="width: 40%; margin-left: 5%;" src="/images/projects/piscineunity/warcraft.png" alt="">
<p>D03 - GUI 2D, Tower Defense</p>
<a class="play-online" target="_blank" rel="noopener noreferrer" href="https://towerdefense.theogros.com">Jouer en ligne avec WebGL</a>
<img style="width: 40%; margin-left: 5%;" src="/images/projects/piscineunity/towerdefense.png" alt="">
<p>D04 - Coroutine, Sonic</p>
<img style="width: 40%; margin-left: 5%;" src="/images/projects/piscineunity/sonic.png" alt="">
<p>D05 - Bases 3D, Simulateur de golf</p>
<img style="width: 40%; margin-left: 5%;" src="/images/projects/piscineunity/golf.png" alt="">
<p>D06 - Ambiance - Shaders - Lumières - Sons, Jeu d'infiltration</p>
<a class="play-online" target="_blank" rel="noopener noreferrer" href="https://infiltration.theogros.com">Jouer en ligne avec WebGL</a>
<img style="width: 40%; margin-left: 5%;" src="/images/projects/piscineunity/simulation.png" alt="">
<p>D07 - GUI 3D et NavMesh, Jeu de Tank</p>
<img style="width: 40%; margin-left: 5%;" src="/images/projects/piscineunity/tank.png" alt="">
<p>D08 - Animations 3D, Jeu à la troisième personne</p>
<img style="width: 40%; margin-left: 5%;" src="/images/projects/piscineunity/zombies.png" alt="">
<p>D09 - First Person Shooter</p>
<img style="width: 40%; margin-left: 5%;" src="/images/projects/piscineunity/fps.png" alt="">
<p>Rush00 (Deux jours, en binôme) - Jeu complet inspiré de Hotline Miami</p>
<a class="play-online" target="_blank" rel="noopener noreferrer" href="https://hotline42.theogros.com">Jouer en ligne avec WebGL</a>
<img style="width: 40%; margin-left: 5%;" src="/images/projects/piscineunity/hotline42.png" alt="">
