<h3>Ray Tracer
	<a class="source-code" target="_blank" rel="noopener noreferrer" href="https://github.com/JanWalsh91/rt">
		<i class="fab fa-git-alt">
			<span>Code Source</span>
		</i>
	</a>
</h3>
<p>Implémentation d'un RayTracer en C</p>
<p>Fonctionnalités :</p>
<ul>
	<li>- Rendu parallélisé sur GPU avec Cuda</li>
	<li>- Interface graphique GTK</li>
	<li>- Transparence (Loi de Beer-Lambert, diffraction de la lumière)</li>
	<li>- Réflexion / Réfraction (Effet Fresnel)</li>
	<li>- Textures (générées, et chargées au format BMP)</li>
	<li>- Normal Mapping (déformation des surfaces)</li>
	<li>- Filtres (Noir et Blanc, Sépia, Daltonien, Effet Cartoon)</li>
	<li>- Format de fichier propre au logiciel (.rt)</li>
	<li>- Sauvegarde d'images au format .BMP</li>
	<li>- Photon Mapping (caustiques et illumination globale)</li>
	<li>- Objets liés</li>
	<li>- 3D anaglyphe</li>
	<li>- Lumières ponctuelles, directionnelles et ambiantes</li>
	<li>- Multiples formes (Plan, Sphère, Cylindre, Cône, Disque et Paraboloïde)</li>
</ul>

<iframe allowfullscreen="true" src="https://www.youtube.com/embed/m4NBhRF1hxs?modestbranding=1&fs=1&rel=0"></iframe>

<p>Quelques exemples de rendus :
	<img src="/images/projects/rt/rt1.png" alt="">
	<img src="/images/projects/rt/rt2.png" alt="">
	<img src="/images/projects/rt/rt3.png" alt="">
	<img src="/images/projects/rt/rt4.png" alt="">
	<img src="/images/projects/rt/rt5.png" alt="">
</p>