<h3>Red Tetris
	<a class="source-code" target="_blank" rel="noopener noreferrer" href="https://github.com/JanWalsh91/red_tetris">
		<i class="fab fa-git-alt">
			<span>Code Source</span>
		</i>
	</a>
</h3>
<p>Tetris Multijoueur React - Redux - SocketIO</p>

<a target="_blank" rel="noopener noreferrer" href="https://redtetris.theogros.com">Lien vers le jeu</a>
<p>Mode solo ou multijoueur</p>

<p>Instructions :</p>
<ul>
	<li>Flèches pour bouger / tourner la pièce</li>
	<li>Barre d'espace pour placer la pièce directement</li>
	<li>0 Pour retenir une pièce</li>
</ul>

<p>En mode multijoueur, détruire plusieurs lignes d'un coup donnera aux autres joueurs des barres horizontales indestructibles sur leur terrain.</p>
<img style="width: 40%" src="https://raw.githubusercontent.com/JanWalsh91/red_tetris/master/media/GIF%202.gif" alt="">

