<h3>Scop
	<a class="source-code" target="_blank" rel="noopener noreferrer" href="https://gitlab.com/TheoG/scop/">
		<i class="fab fa-git-alt">
			<span>Code Source</span>
		</i>
	</a>
</h3>
<p>Parseur de fichier .obj</p>

<p>Programme développé en C permettant de parser un fichier .obj et l'affichant grâce à OpenGL</p>

<p>Figure simple :</p>
<img src="/images/projects/scop/42.gif" alt="">
<p>Interprétation des textures :</p>
<img src="/images/projects/scop/teapot.gif" alt="">
<p>Fichier contenant plusieurs dizaines de milliers de triangles :</p>
<img src="/images/projects/scop/screw.gif" alt="">

