<h3>Vulkan Game Engine
	<a class="source-code" target="_blank" rel="noopener noreferrer" href="https://gitlab.com/TheoG/vulkanGameEngine/">
		<i class="fab fa-git-alt">
			<span>Code Source</span>
		</i>
	</a>
</h3>
<p>Mini Engine - Work In Progress</p>

<p>Mini moteur utilisant l'API Vulkan du groupe Khronos.</p>

<p>Ce qui marche : </p>
<ul>
	<li>Pipeline graphique de Vulkan</li>
	<li>Charger un modèle</li>
	<li>Charger une texture pour le modèle</li>
	<li>Appliquer un script d'Update pour chaque composant</li>
</ul>

<p>Fonctionnalités à faire :</p>
<ul>
	<li>Lumières dynamiques</li>
	<li>Animations</li>
	<li>Systèmes de particules</li>
	<li>...</li>
</ul>