<h2>À propos</h2>

<div id="about">
	<p class="name">Théo Gros, 23 ans</p>
	<p class="title">Développeur en Infographie - Jeu Vidéo - 3D</p>

	<p>Durant 5 ans d'études en informatique dans le but de devenir développeur, j'ai eu l'opportunité d'étudier un grand nombre de domaines de la programmation, du web à la 3D en passant par l'algorithmie et l'IA.</p>
	<p>La programmation graphique, la 3D et tous ses dérivés sont maintenant ma passion et mon objectif premier de carrière.</p>
	<p>Ce portfolio a pour but de présenter les différents projets que j'ai pu réaliser durant ces années de formation.</p>

	<a class="linkcv" target="_blank" rel="noopener noreferrer" href="pdfs/TheoGros_CV_fr.pdf"><p>Télécharger mon CV</p></a>
</div>