<h2 id="education-anchor">Formations</h2>

<div id="education">
	<div class="education-instance">
		<img src="/images/education/42.jpg" alt="Logo 42">
		<div>
			<h3>2016 - 2019</h3>
			<p>42 - Paris</p>
			<p>
				École basée sur le peer-learning, l'autonomie et la réalisation de projets. L'apprentissage se fait sans cours ni professeur, en totale indépendance.
				<p><a href="https://www.42.fr/">https://www.42.fr/</a></p>
			</p>
		</div>
	</div>
	<div class="education-instance">
		<img src="/images/education/iut.jpg" alt="Logo IUT">
		<div>
			<h3>2014 - 2016</h3>
			<p>IUT du Limousin - Limoges</p>
			<p>Enseignement professionnalisant en 2 ans. La formation est séparée en deux modules :
				<ul>
					<li>- Scientifique (mathématiques, programmation, algorithmie, bases de données, etc.)</li>
					<li>- Humain et Social (gestion de projet, droit, comptabilité)</li>
				</ul>
			</p>
		</div>
	</div>
	<div class="education-instance">
		<img src="/images/education/highschool.jpg" alt="Logo HighSchool">
		<div>
			<h3>2013 - 2014</h3>
			<p>Baccalauréat Général Scientifique - Limoges</p>
			<p>Spécialité Physique-Chimie - Mention Bien</p>
		</div>
	</div>
</div>