<div id="footer">
	<a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/theogros/"><i class="fab fa-2x fa-linkedin-in"></i></a>
	<a target="_blank" rel="noopener noreferrer" href="https://gitlab.com/users/TheoG/projects/"><i class="fab fa-2x fa-gitlab"></i></a>
</div>
