<div>
	<nav id="top_navbar">
		<div class="nav-wrapper">
			<ul>
				{{!-- <li><a href="/fr">fr</a></li>
				<li><a href="/en">en</a></li> --}}
				<li><a href="#education-anchor">Formations</a></li>
				<li><a href="#project-anchor">Projets</a></li>
				<li><a href="#personnal-projects-anchor">Projets Perso</a></li>
			</ul>
		</div>
	</nav>
</div>