
<h2 id="personnal-projects-anchor">Projets personnels</h2>
<div id="personnal-projects">
	{{#personnalProjects}}
		<div class="project" data-project-type="{{this.type}}" data-project-technos="{{this.technos}}" data-description-name="{{this.descriptionFile}}">
			<div class="image">
				<img draggable="false" ondragstart="return false;" src="{{this.bck-img}}" alt="">
			</div>
			<div class="ur-ul-border"></div>
			<span class="date">{{this.date}}</span>
			<span class="project-title">{{this.name}}</span>
			<span class="description">{{this.descr}}</span>
			<div class="languages">
			{{#this.technos}}
				<span>{{this}}</span>
			{{/this.technos}}
			</div>
			<div class="lr-ll-border"></div>
		</div>
	{{/personnalProjects}}

</div>