
<h2 id="project-anchor">Projets</h2>
<h5 class="category-title">Categories :</h5>
<div id="projects-categories">
	{{#projectsTypes}}
	<div class="project-category category-selected" data-category-name="{{this.[0]}}">{{this.[0]}} ({{this.[1]}})</div>
	{{/projectsTypes}}
</div>
<h5 class="category-title">Technos :</h5>
<div id="projects-technos">
	{{#projectsTechnos}}
	<div class="project-techno category-selected" data-category-name="{{this.[0]}}">{{this.[0]}} ({{this.[1]}})</div>
	{{/projectsTechnos}}
</div>
<div id="projects">
	{{#projects}}
		<div class="project" data-project-type="{{this.type}}" data-project-technos="{{this.technos}}" data-description-name="{{this.descriptionFile}}">
			<div class="image">
				<img draggable="false" ondragstart="return false;" src="{{this.bck-img}}" alt="">
			</div>
			<div class="ur-ul-border"></div>
			<span class="date">{{this.date}}</span>
			<span class="project-title">{{this.name}}</span>
			<span class="description">{{this.descr}}</span>
			<div class="languages">
			{{#this.technos}}
				<span>{{this}}</span>
			{{/this.technos}}
			</div>
			<div class="lr-ll-border"></div>
		</div>
	{{/projects}}

</div>