<h2>Expériences professionnelles</h2>

<div id="workexperience">
	<div class="workexperience-instance">
		<img src="/images/workexperience/madgic.png" alt="Logo Madgic">
		<div>
			<h3>Septembre 2017 - Février 2018</h3>
			<p>Stage en entreprise - Madgic, Paris, France</p>
			<p>Développeur web junior dans un environnement startup. J'ai eu l'opportunité de créer divers outils web en PHP et Javascript, ainsi que d'être initié au métier de DevOps</p>
		</div>
	</div>
	<div class="workexperience-instance">
		<img src="/images/workexperience/presagis.jpg" alt="Logo Presagis">
		<div>
			<h3>Avril - Juin 2016</h3>
			<p>Stage en entreprise - Presagis, Montréal, Canada</p>
			<p>Développement en C++ avec l'équipe technique du logiciel "Vega Prime".</p>
		</div>
	</div>
</div>
