<!DOCTYPE html>
<html lang="fr" dir="ltr">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Portfolio de Théo Gros">
        <meta name="keywords" content="Théo Gros, développeur, étudiant, informatique, Paris, Montréal, code">
        <meta name="author" content="Théo Gros">
		<link rel="icon" type="image/png" href="/images/favicon.png" />


		<title>Théo Gros</title>
		<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
		<link rel="stylesheet" href="/css/index.css">
		<link rel="stylesheet" href="/css/about.css">
		<link rel="stylesheet" href="/css/education.css">
		<link rel="stylesheet" href="/css/workexperience.css">
		<link rel="stylesheet" href="/css/projects.css">
		<link rel="stylesheet" href="/css/modal.css">
		<link rel="stylesheet" href="/css/footer.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="/js/modal.js"></script>
		<script src="/js/filter.js"></script>
	</head>
	<body>

		{{{body}}}

		<script src="https://kit.fontawesome.com/ab32384fe8.js" crossorigin="anonymous"></script>

	</body>
</html>
